@font-face {
    font-family: "Satisfy";
    src: url("../fonts/Satisfy-Regular.ttf");
    font-weight:bolder;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-display: auto;
}
